.chat {
  max-width: 50vw;
  height: 90vh;
}

.titleChat {
  color: #6e4df3;
  text-shadow: .5px .5px .5px #eee;
  background-color: #01090c;
  background-image: linear-gradient(286deg, #01090c 0%, #02041d 100%);
  border-radius: 4px;
  text-align: center;
  font-size: 1.2em;
  height: 2.2em;
  margin-bottom: 5px;
}