body {
  
  background-image: url('https://img.freepik.com/vetores-gratis/fundo-roxo-do-ceu-nublado-com-grupo-de-cumulos-e-nuvens-cirros-ilustracao-plana-dos-desenhos-animados_1284-62768.jpg?w=1060&t=st=1668647710~exp=1668648310~hmac=671575dd8aacd4c131a2ca8c598236943c9d39798af6d4c5640590288d365fae');

  background-size: cover;
  background-repeat: no-repeat;
}
